.header {
    border-bottom: 1px solid #f2f4f7;
    background: #f2f4f7;

    @media screen and (min-width: 1280px) {
        padding: 0 120px;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}