.box {
    margin-bottom: 40px;
    padding: 32px;
    border: 1px solid #dadde1;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        width: 550px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1280px) {
        width: 568px;
        margin: 0;
    }

    @media screen and (min-width: 1280px) {
        width: 640px;
    }
}

.formTitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.formText {
    color: var(--gray);
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input {
    padding-left: 16px;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--gray-light);

    &::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        color: var(--gray);
    }
}

.inputContainer {
    position: relative;
}

:global(.react-datepicker-wrapper) {
    width: 100%;
}

:global(.react-datepicker__input-container) {
    display: block;
}

.comment {
    padding: 12px 20px;
    height: 88px;
    resize: none;
    white-space: pre-wrap;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--gray-light);
        border-radius: 10px;
    }
}

.error {
    position: absolute;
    bottom: -14px;
    font-size: 10px;
    color: #f44336;
}

.button {
    margin: 24px auto 0 auto;
    min-width: 156px;
    border-radius: 12px;
    padding: 12px 51px;
    border: none;
    outline: none;
    font-weight: 600;

    color: var(--white);
    background-color: var(--button);
    transition: background-color var(--time) var(--cubic);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover);
}