.listContainer {
    padding: 16px;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.list {
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.item p {
    margin-left: 8px;
}
