.listContainer {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 0;
        }

        flex: 1 1 300px;
        max-width: 50%;
    }

    @media screen and (min-width: 1280px) {
        max-width: 100%;
        flex: 0;
    }
}

.subtitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}